certifi==2020.12.5
chardet==4.0.0
deprecation==2.1.0
filetype==1.0.7
idna==2.10
mdurl==0.1.2
mutagen==1.45.1
oauthlib==3.2.2
packaging==20.9
Pygments==2.17.2
pyparsing==2.4.7
python-dateutil==2.8.2
python3-discogs-client==2.7
PyYAML==6.0.1
requests==2.25.1
rich==13.7.0
six==1.15.0
typing_extensions
urllib3==1.26.4
